/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Libre+Baskerville&family=Luxurious+Roman&family=Merriweather:wght@700&family=Open+Sans:wght@400;500;700&family=Outfit:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto+Condensed&display=swap');

/* Common styles */
body{
    font-family: 'Open Sans', sans-serif;
}

/* Carousel styles */
.book-now-bttn{
    background-color: #5579C6;
    border: none;
}
/* Pricing styles */
ul li{
    list-style: none;
}
.price-column{
    background-color: #aed7e6;
    border-radius: 10px;
    height: 400px;
    width:100%;
}
.top-rated-column{
    background-color: #5579C6;
    height: 450px;
    width:100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.badge-bg{
    background-color: #b7b9be;
}
.top-rated-btn{
    background-color: #aed7e6; 
    border: 0;  
    color: #5579C6;
}
/* Benefits styles */
.dark-blue-text{
    color: #5579C6;
}
/* Ragistration styles */
.reg-part{
   background-color: #d9e5e9; 
   border-radius: 15px;
}
/* Footer styles */
.footer-text{
    text-decoration: none;
}